<div class="item-wrapper" ng-controller="CheckListCtrl">
  <h2 class="counter" ng-show="getTotalCheckList() > 0">You've got <span class="emphasis">{{getTotalCheckList()}}</span> things to buy</h2>
  <h2 ng-show="getTotalCheckList() == 0">Your checklist complete</h2>
  <h2 ng-show="getTotalCheckList() == null">Start new checklist</h2>
  <ul>
    <li ng-repeat="item in checkList" style="padding: 20px">
      <span class="glyphicon" ng-class="{true:'glyphicon-check', false:'glyphicon-unchecked'}[item.done]" style="height: 32px; float: left; padding: 5px;" ng-click="toggleItem($index)"></span>
      <span class="done-{{item.done}}">{{item.productName}}</span>
      <span class="glyphicon glyphicon-remove" style="float: right; padding: 5px;" ng-click="removeItem($index)"></span>
    </li>
    <li>
      <div class="last-item" style="width: 100%; background-color: #ffffff; height: 80px;">
        <input class="add-input" placeholder="I need..." type="text" ng-model="formItemText" ng-model-instant ng-enter="addItem()" style="font-size: 1em;"/>
        <span class="glyphicon glyphicon-plus" style="float: right; margin: 20px; padding: 5px;" ng-click="addItem()"></span>
      </div>
    </li>
  </ul>
  <button class="clear-btn" ng-click="removeItem()" ng-show="getTotalCheckList() > 0">Remove</button>
</div>